.NavBar {
  background-color: var(--bgNav);
  height: 100vh;
  width: 4.5em;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: fadeOut 0.3s ease-in-out;
}
.navItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3em;
  transition: background-color 0.3s;
  border-radius: 10px;
}
.NavSup {
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-between;
}

.mainNav,
.lastIcon,
.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.mainNav,
.lastIcon {
  position: fixed;
  top: 10%;
  left: 0.7%;
  height: 45vh;
  display: flex;
  justify-content: start;
  align-items: center;
}
.lastIcon {
  top: 92%;
  left: 0.8%;
}

.mainNav img,
.lastIcon img {
  height: 2.5em;
  width: 2.5em;
}
.lastIcon img {
  height: 2em;
  width: 2em;
}

.logo img {
  height: 3em;
}

.logo:hover {
  background-color: var(--littleBlack);
  border-radius: 50%;
}

.text {
  animation: opacityOnOut 2s;
}

@keyframes fadeOut {
  from {
    width: 22.5em;
  }
  to {
    width: 4.5em;
  }
}

@keyframes opacityOnOut {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 1550px) {
  .mainNav,
  .lastIcon {
    position: fixed;
    top: 11%;
    left: 1.4%;
    height: 45vh;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .lastIcon {
    top: 92%;
  }
}
